
.contact-container{
    display: flex;
    justify-content: space-between;
    background-color: var(--gold);
}

.contact-container-left{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    background-color: var(--gold);
    width: 50%;
    color: var(--footer);
}

.contact-container-right{
    width: 50%;
    background-color: #9b8527;
}

.contact-container__h1{
    font-size: 3em;
}

.contact-container__h2{
    font-size: 1.6em;
}

.contact-container__h3{
    font-size: 1.3em;
}

.contact-container__inputs{
    padding: 3em 3em;
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.contact-container__input{
    border-width: 0;
    padding: 10px;
}

.contact-container__subtitle{
    margin-top: 1em;
    margin-bottom: 0.5em;
    font-size: 1.2em;
}

.contact-radio, .contact-checkbox{
    accent-color: var(--footer)    
}

.contact-checkbox{
    margin-right: 5px;
}

.contact-button{
    width: 100px;
    color: var(--gold);
    text-align: center;
    padding: 10px 10px;
    background-color: var(--footer);
    border-radius: 5px;
    cursor: pointer;
}

.contact-button:hover{
    background-color: #000;
    font-weight: bold;
}

.contact-container__select{
    padding: 10px;
}

/* Mobile */
@media (max-width: 700px) {
    .contact-container-left{
        width: 100%;
        padding-top: 1em;
        padding-bottom: 2em;
    }
    .contact-container-right{
        width: 100%;;
    }

    .contact-container{
        display: flex;
        flex-direction: column;
    }

    .contact-container__inputs{
        width: 100%;
    }




}

