

.offers-bar{
    display: flex;
}

.offers-bar-text{
    background-color: #fff;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.offers-bar-items{
    background-color: #fff;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.offer-item{
    padding: 2em 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product-item-details{
    background-color: #fff;
}

.offer-item__description{
    margin-top: 10px
}

.offer-item__img{
    width: 70px;
}

.offers-bar-text__h1{
    font-weight: bold;
    font-size: 2em;
}

.offers-bar-text__h2{
    font-size: 1.1em;
    
}

.offer-products{
    display: flex;
    padding-top: 5em;
    justify-content: center;
}

.offer-footer{
    margin-top: 5em;
}


#offers-bar-desktop{
    display: none;
}

#offers-bar-mobile{
    background-color: #fff;
}    

.offers-bar-text-mobile{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
    text-align: center;
}

.offers-bar-title-mobile{
    font-size: 2em;
}

.offers-bar-subtitle-mobile{
    font-size: 1.3em;
}

.offer-product-item{
    height: 400px;
}

/* Desktop */
@media (min-width: 700px) {
    #offers-bar-desktop{
        display: block;
    }
    #offers-bar-mobile{
        display: none;
    }    
    .offers-bar-text-mobile{
        display: none;
    }



}


    